.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
}

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;

    align-items: center;

    background-color: var(--clrPrimario);

    border: 1px solid var(--clrBtnTerciario);
    padding: 2rem;
}

.formulario__label{
    text-align: left;
    font-size: 1rem;
    color: var(--clrBtnSecundario);
}

.formulario__input{
    border:none;
    border-radius: 1rem;
    border-bottom: 3px solid var(--clrBtnTerciario);
    margin-bottom: 1rem;
    width: 100%;
}

.formulario__wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 20% 1fr;
    width: 100%;
}

.boton__wrapper{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 35%;
}

.boton__guardar{
    border: none;
    border-radius: 3px;
    background-color: var(--clrBtnPrimario);
    color: var(--clrFondo);
    padding: 1rem 2rem;
}

.boton__limpiar{
    border: none;
    border-radius: 3px;
    background-color: var(--clrAux3);
    color: var(--clrFondo);
    padding: 1rem 2rem;
}