/* .decorador {
    position: absolute;
    background-color: brown;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    transform: translate(-2rem, 50%);
} */

.contenedor{
    border-radius: 5px;
    border: 1px solid #afafaf;
    margin: 0;
    padding: 0.25em 0.5em;
    background: white;
    box-shadow: 1px 1px 4px #8f949a;
    color: #369;
    font-weight: bold;
    margin-top: 1.5rem;
}

.lista__desordenada {
    z-index: 100;
    list-style: none;
}

.lista__desordenada:before{
    content: "";
    display: block;
    width: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid;
    background: white;
    z-index: -1;
}

.item__lista {
    z-index: 100;
    padding: 0.5rem;
    position: relative;
    color: var(--clrBtnPrimario);
    text-transform: capitalize;
}

.item__lista::before{
    border-top: 1px solid;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 1.5em;
    width: 2em;
}

